
#enregistrer{
    width: 5rem;
    position: relative;
    
}

#crenau{
    padding: 1rem;
    width: 30rem;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction :column ;
    align-items: center;
    position: relative;
    left: 40rem;
    top: 2rem;
}

#voiture{
    z-index:1;
    width: 35rem;
    position: relative;
    left: 5rem;
    top: 2rem;
}

#trotinette{
    z-index:1;
    width: 35rem;
    position: relative;
    left: 70rem;
    top: 1rem;
}