@import url('./variables.css');

body {
    font-family: var(--body-font-font-family);
    font-weight: var(--body-font-font-weight);
    line-height: var(--body-font-line-height);
    background-color: var(--siteBackgroundColor);
    color: var(--paragraphMediumColor);
}
